/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-image: url('/Users/sandykhot/Desktop/gym/gym-website/src/assets/gym2.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
  }
  
  .login-form {
    background: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .login-form button:hover {
    background-color: #0056b3; /* Darken button on hover */
  }
  
  .login-form a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  